<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: "IBM Plex Mono", monospace;
        background-color: black;
        font-size: x-large;
        font-weight: 900;
        color: aliceblue;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
      }
      .h1404 {
        margin-top: 50%;
      }
    </style>
    <title>404</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <div class="h1404">
      <h1>404</h1>
    </div>
    <div>
      <h3>Page Not Found... 🤧</h3>
    </div>
  </body>
</html>
