:root {
  --main-color: #a7ecee;
  --secondary-color: #6ab7d1;
  --secondary-color2: #68a2b6;
  --main-color-opacity: hsla(182, 68%, 79%, 0.404);
  --bg-color: #121313;
  --lighter-bg-color: #1f2020;
  --gradient-primary: linear-gradient(to top left, #68a2b6, #6ab7d1);
  --grey-color: #c7cecef3;
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
h1 {
  color: aliceblue;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  padding: 20%;
  overflow-x: hidden;
  z-index: 99;
  background-color: var(--bg-color);
  background-image: url("../images/wavedraw.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: -20rem;
  background-position-y: 20rem;
  overflow-y: hidden;
}

.text-muted {
  color: #121313;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(22, 22, 22, 0.849), var(--bg-color));
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow: scroll;
  overflow-x: hidden;
}
.container {
  width: 80%;
}
.contain {
  width: 90%;
}
/* <!-- =========================== Nav-Bar =========================== --> */
nav {
  width: 100%;
  background-color: var(--lighter-bg-color);
  padding: 0.7rem 0;
  position: absolute;
  top: 0;
  z-index: 10;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #68696956;
}
nav .container {
  display: flex;
  align-items: center;
}

nav .search-bar {
  background: aliceblue;
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  display: flex;
  margin-left: 4rem;
  margin-right: 1rem;
}
nav .search-bar input[type="search"] {
  color: var(--bg-color);
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  border-style: none;
  cursor: text;
  display: inline-block;
}
ul {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-right: 0.5rem;
}

.nav-item {
  margin-right: 5%;
}
nav li {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.profile-photo {
  width: 2.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.btn-primary {
  border-radius: var(--border-radius);
  padding: 5%;
  width: 8rem;
  height: 5vh;
  font-size: 0.95rem;
  border: none;
  background-color: var(--secondary-color2);
  color: white;
  /* color: var(--bg-color); */
  font-weight: 600;
  /* letter-spacing: 0.1em; */
  text-align: center;
}

@keyframes color-change {
  0% {
    background-color: var(--secondary-color);
    color: aliceblue;
  }
  100% {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 12px rgba(49, 155, 241, 0.4);
  }
}

button.btn-primary:hover,
.signup__form [type="submit"]:hover,
.login__form [type="submit"]:hover {
  animation: color-change 0.5s;
  background-color: var(--bg-color);
  color: aliceblue;
  box-shadow: 0px 0px 12px rgba(49, 155, 241, 0.4);
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* <!-- =========================== Middle =========================== --> */
main {
  position: relative;
  top: 10rem;
}
main {
  display: grid;
  grid-template-columns: 18vw auto;
  column-gap: 4rem;
  position: relative;
}

.mid {
  width: 100%;
}
.news {
  padding: 0;
  margin-top: 2rem;
}

.feed .profile-photo {
  width: 4.5rem;
}
.logo-img {
  margin-left: 3%;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.logo-img:hover {
  transform: translateY(0.2rem);
}
.overlay h1 {
  margin-bottom: 3%;
  margin-left: 3%;
}
.articles {
  padding: 3%;
  display: grid;
  /* grid-template-columns: 1fr, 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(min(13rem, 100%), 1fr));
  grid-gap: 3rem;
}
.card {
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.create-post {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: aliceblue;
  padding: 0.4rem, var(--card-padding);
  padding-left: 1.5rem;
  border-radius: var(--border-radius);
}
.create-post input[type="text"],
.post-comment input[type="text"] {
  justify-self: start;
  width: 100%;
  background: transparent;
  border: none;
  padding-left: 1rem;
  color: var(--bg-color);
}
.create-post input[type="submit"],
.post-comment input[type="submit"] {
  border-radius: 1rem;
  padding: 5%;
  width: 5rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 0.6rem;
  border: none;
  background-color: var(--bg-color);
  color: aliceblue;
  font-weight: 600;
  letter-spacing: 0.3em;
  box-shadow: 0px 0px 12px rgba(49, 155, 241, 0.4);
}

.create-post input[type="submit"]:hover,
.post-comment input[type="submit"]:hover {
  background-color: #1f2020ef;
}

input[type="file"] {
  display: none;
}
.create-post label i {
  font-size: xx-large;
  color: var(--secondary-color);
  cursor: pointer;
}
.create-post label i:hover {
  color: var(--bg-color);
}

.post-comment {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  background-color: aliceblue;
  padding: 0.2rem, 0.5rem;
  padding-left: 1rem;
  border-radius: var(--border-radius);
  left: 0;
}
.post-comment .profile-photo {
  width: 2.5rem;
  height: auto;
}
.post-comment input[type="submit"] {
  height: auto;
  font-size: 0.5rem;
}
#previewImg {
  max-width: 15rem;
  max-height: auto;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}
.img-preview {
  position: relative;
  margin-top: 0;
  margin-left: 0.5rem;
  background-color: var(--lighter-bg-color);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin-bottom: 1rem;
  max-width: 12rem;
  max-height: auto;
}
.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

/* <!-- =========================== Left =========================== --> */
.left {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}
.left h3,
h4 {
  font-size: 1.3rem;
}

.left .profile {
  display: flex;
  align-items: center;
  padding: var(--card-padding);
  background: var(--lighter-bg-color);
  border-radius: var(--card-border-radius);
  column-gap: 1rem;
  width: 100%;
  font-size: small;
  text-decoration: none;
  color: aliceblue;
}

.left .profile .profile-photo {
  width: 4rem;
  height: auto;
}

/* <!--=========================== SIDEBAR ===========================--> */
.left .sidebar {
  margin-top: 1rem;
  background: var(--lighter-bg-color);
  border-radius: var(--card-border-radius);
  /* padding: var(--card-padding); */
}
.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 400ms ease;
  position: relative;
}
.left .sidebar .menu-item:hover {
  background: var(--bg-color);
}
.left .sidebar i {
  font-size: 1.4rem;
  color: var(--grey-color);
  position: relative;
  margin-left: 2rem;
}
a.menu-item {
  text-decoration: none;
  color: aliceblue;
}
.left label {
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 3rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.left label:hover {
  animation: color-change 0.3s;
  background-color: var(--bg-color);
  color: aliceblue;
  box-shadow: 0px 0px 12px rgba(49, 155, 241, 0.4);
}

.left .sidebar h3 {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.left .sidebar .active {
  background: var(--bg-color);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--main-color);
}

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background-color: var(--main-color);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

@media screen and (min-width: 2100px) {
  main.container {
    margin-right: 400rem;
  }
}

/* <!-- =========================== FEEDS =========================== --> */

.feeds {
  width: 60rem;
  margin-top: 3rem;
  max-width: 55vw;
}
.mid .feeds .feed {
  background-color: var(--lighter-bg-color);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
  max-width: 100%;
  overflow-wrap: break-word;
}

.mid .feed .head {
  display: flex;
  justify-content: space-between;
}
.mid .feed .user {
  display: flex;
  gap: 1rem;
}

.mid .feed .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  max-height: 70vh;
}
.mid .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
  cursor: default;
}

.mid .liked-by {
  display: flex;
}
.mid .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
  margin-left: -0.6rem;
  margin-bottom: 0.6rem;
}

.mid .liked-by span:first-child {
  margin: 0;
}

.mid .liked-by p {
  margin-left: 0.5rem;
}
.mid .feed .caption p {
  text-wrap: wrap;
}

i.uil-heart:hover,
i.uil-comment-dots:hover,
i.uil-share-alt:hover {
  color: var(--main-color);
  cursor: pointer;
}

/* <!-- MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS --> */
@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
  main .container {
    grid-template-columns: 5rem, auto;
    gap: 1rem;
  }
  .left {
    width: 5rem;
    z-index: 5;
  }
  main .container.left .profile {
    display: none;
  }
  .sidebar h3 {
    display: none;
  }
  .left .btn-primary {
    display: none;
  }
  .left .sidebar i {
    margin-left: 1rem;
  }
  .sign-up-modal,
  .login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 85vh;
    border-radius: var(--card-border-radius);
    background-color: var(--lighter-bg-color);
    padding: 4rem 4rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
  }
  .modal__header {
    font-size: 0.5rem;
    margin-bottom: 2rem;
    line-height: 1;
    margin-left: 1rem;
  }

  .signup__form,
  .login__form {
    margin: 0 2rem !important;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1.5rem !important;
    font-size: small !important;
  }
}

/* <!-- MEDIA QUERIES FOR MOBILE PHONES --> */

@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }
  main .container {
    grid-template-columns: 0 auto 5rem;
  }
  main .container.left {
    grid-column: 2/3;
    position: fixed;
    bottom: 0;
    right: 10px;
    margin-top: 2rem;
  }
  main .mid {
    grid-column: 1/3;
  }
}

/* <!-- =========================== SIGNUP MODAL =========================== --> */

.sign-up-modal,
.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  border-radius: var(--card-border-radius);
  background-color: var(--lighter-bg-color);
  padding: 3rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  line-height: 1.5;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: var(--grey-color);
}

.signup__form,
.login__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2rem;
}

.signup__form label,
.login__form label {
  font-size: 1.1rem;
  font-weight: 500;
}

.signup__form input,
.login__form input {
  font-size: 1.1rem;
  padding: 0.4rem 0.4rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.signup__form input[type="submit"],
.login__form input[type="submit"] {
  grid-column: 1 / span 2;
  justify-self: right;
  margin-top: 1rem;
  width: 16rem;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  border: none;
}

.logout {
  align-items: center;
  justify-content: center;
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}
.signup__form select {
  font-size: 1.1rem;
  padding: 0.4rem 0.4rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.profile-upload {
  border: solid;
  border-radius: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  width: 15rem;
}
.profile-upload:hover {
  color: var(--secondary-color);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

#previewProfileImg {
  max-width: 5rem;
  max-height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}

/* <!-- =========================== FOOTER =========================== --> */

.container-footer {
  background-color: #181b1b;
  box-shadow: 10px 0px 10px 0px rgba(49, 155, 241, 0.17);
}

footer {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20%;
  background-color: #181b1b;
  font-size: 1.25rem;
}

footer input {
  max-width: 50%;
}
