:root {
  /* --main-color: #a7ecee; */
  --main-color: #75a8aa;
  /* --main-color: #1e8fffce; */

  --main-color-opacity: hsla(182, 68%, 79%, 0.404);
  --bg-color: #1f2020;
}
* {
  font-family: "IBM Plex Mono", monospace !important;
  font-family: "Libre Baskerville", serif;
  font-family: "Roboto Mono", monospace;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: var(--bg-color);
}

.hero {
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;
  height: 90vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: url(../images/wavebg.jpg); */
  background-image: url(../images/bg-test3.jpg);
  z-index: 1;
  overflow: hidden;
  text-shadow: -0.65px 0.65px 0 rgba(33, 37, 41, 0.623),
    0.65px 0.65px 0 #2125299f, 0.65px -0.65px 0 rgb(33, 37, 41, 0.623),
    -0.65px -0.65px 0 rgb(33, 37, 41, 0.623) !important;
}
.logo-img {
  margin-top: 1.5%;
  margin-left: 2%;
}

.hero h2 {
  margin-top: 0.5rem;
  color: aliceblue;
}
#firsth2 {
  animation: fadeIn 2s;
  margin-top: 2%;
  text-align: center;
}
#secondh2 {
  animation: fadeIn 2s;
  margin-top: 2%;
  text-align: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(31, 32, 32, 0.184), var(--bg-color));
  /* background: linear-gradient(rgba(31, 32, 32, 0.027), #1c1d1dea); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.nav_item {
  display: inline-block;
  margin-left: 40px;
  cursor: pointer;
  font-weight: 300;
  font-size: 2vh;
}
.main-headers {
  border: 4px rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  margin-top: 50vh;
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}
.main-headers h1 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  position: relative;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
  font-size: 2.5vw;
  font-weight: 600;
}

.main-headers h2 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 800;
  font-size: 1vw;
}

.btn-container {
  margin-top: 5%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7%;
}
.btn-container button {
  border-radius: 100px;
  width: 8vw;
  height: 6vh;
  border: none;
  background-color: var(--bg-color);
  color: aliceblue;
  font-weight: 900;
  letter-spacing: 0.3em;
  box-shadow: 0px 0px 12px rgba(49, 155, 241, 0.4);
  font-size: 0.7vw;
}
.forecast button {
  border-bottom-style: solid;
  border-color: aliceblue;
  border-width: 0.5px;
}
.community button {
  border-top-style: solid;
  border-color: aliceblue;
  border-width: 0.6px;
}
@keyframes color-change {
  0% {
    background-color: var(--bg-color);
    color: aliceblue;
  }
  100% {
    background-color: var(--main-color);
    color: var(--bg-color);
  }
}
button:hover {
  animation: color-change 1s;
}
.main-headers span {
  text-align: center;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

  /* Clip Background Image */

  background: url("../images/headerFill.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.section1 {
  margin-top: 10rem;
  transition: all 1.5s;
}

.section1 h1 {
  font-weight: 600;
  background: linear-gradient(to bottom, aliceblue 60%, var(--main-color) 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1 h2 {
  font-weight: 300;
  font-size: 1.5rem;
}
.section1 h3 {
  font-weight: 300;
  font-size: 1.2rem;
}
.forecast-headers {
  margin: 5%;
  margin-bottom: 3%;
}
.wave-table {
  margin: 10%;
  margin-top: 0;
  margin-bottom: 10rem;
  transition: transform 1s, opacity 1s;
  position: relative;
  width: 100%;
  font-size: larger;
}
.wave-table th,
.wave-table td {
  background-color: transparent;
}

#surfer3 {
  max-width: 80%;
  max-height: 90%;
  margin-top: 10%;
  margin-left: 10%;
}
#surfer2 {
  max-width: 70%;
  max-height: 100%;
  margin-bottom: 20%;
  margin-top: 10%;
}
#surfer1 {
  max-width: 70%;
  max-height: 100%;
  margin-bottom: 10%;
}
.bg-img {
  opacity: 0.6;
  transition: filter 1.2s;
  z-index: -100;
  border-radius: 150px;
  box-shadow: 0px 0px 30px rgb(255, 215, 137);
  height: auto;
  position: relative;
  max-width: 60%;
  max-height: 60%;
}
.img-hidden {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.table--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.wave-tables {
  width: 100%;
  max-width: none;
  padding-right: 10%;
}

thead th {
  background-color: #181b1b !important;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
    0px -1px 0px rgba(0, 0, 0, 0.7);
}
tbody th {
  font-weight: 500;
}

table {
  /* box-shadow: 0px 0px 10px rgba(255, 156, 137, 0.11); */
  box-shadow: 0px 0px 12px rgba(49, 155, 241, 0.4);
  box-shadow: 0px 0px 8px var(--main-color-opacity);
}
.table-group-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100vw;
}
.table-group-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100vw;
}
.table-group-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100vw;
}
.table-group-1 > .img-group {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.table-group-1 > .table-group,
.table-group-3 > .table-group {
  grid-column: 1;
  grid-row: 1;
}

.table-group-2 > .img-group {
  grid-column: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 10%;
}

.table-group-2 > .table-group {
  grid-column: 2;
  grid-row: 1;
}

.table-group-3 > .img-group {
  grid-column: 2;
  grid-row: 1;
  margin-right: 25%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: -50%;
}

.container-footer {
  background-color: #181b1b;
  box-shadow: 10px 0px 10px 0px rgba(49, 155, 241, 0.17);
}

footer {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
  background-color: #181b1b;
  font-family: "IBM Plex Mono", monospace !important;
  font-size: 1.25rem;
}

footer input {
  max-width: 50%;
}

.star-list {
  display: inline;
}
.star.full {
  display: list-item;
  list-style-image: url("/images/star-16.png");

  background: url("/images/star-30.png");
  background-repeat: no-repeat;
  display: inline;
}
.star .half {
  background: url("/images/half-star-30.png");
}

.location-buttons {
  display: inline-flex;
  list-style: none;
  /* font-family: "Poppins", sans-serif; */
}
.location-grid {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.location-container {
  text-align: center;
}
.location-container button {
  margin-right: 2rem;
  border-radius: 8px;
  padding: 10px;
  width: 8vw;
  height: 7vh;
  border: none;
  background-color: var(--bg-color);
  color: aliceblue;
  font-weight: 700;
  letter-spacing: 0.3em;
  font-size: 0.7vw;
  box-shadow: 0px 0px 12px rgba(49, 155, 241, 0.4);
  border-style: solid;
  border-right: none;
  border-left: none;
  border-width: 0.1px;
}
button:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.guide {
  width: 100vw;
  height: 60vh;
  /* Create the parallax scrolling effect */
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: url("../images/wavebg.jpg"); */
  background-image: url("../images/wavedraw.png");
  background-attachment: fixed;
  overflow: hidden;
  z-index: -999;
}
.overlay-guide {
  position: absolute;
  height: 105%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(31, 32, 32, 0.849), var(--bg-color));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  text-align: center;
  font-size: larger;
  padding: 10rem;
  letter-spacing: 2px;
}
.guide h2 {
  font-weight: 800;
  margin-bottom: 3rem;
  background: linear-gradient(to bottom, aliceblue 60%, var(--main-color) 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.guide p {
  font-weight: 600;
  margin-bottom: 10rem;
  line-height: 30pt;
}

/* .guide-p {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1 !important;
  z-index: 100;
} */

/* --------------------------------------------------------------- */

@media screen and (max-width: 2000px) {
  .main-headers h2 {
    font-size: 1.4vw;
  }
  .main-headers h1 {
    font-size: 2.8vw;
  }
  .btn-container button {
    font-size: 0.8vw;
    width: 11vw;
  }
  .location-container button {
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 1400px) {
  .img-group {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 50% !important;
  }
  .table-group-1,
  .table-group-2,
  .table-group-3 {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 15%;
  }
  .table-group {
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1;
    flex-wrap: wrap;
  }
  .stars {
    flex-wrap: wrap;
  }
  .bg-img {
    max-width: 80% !important;
    height: auto;
  }

  footer input {
    max-width: 35vh;
  }
  .location-container button {
    font-size: 1.3vw;
    width: 15vw;
  }
  .forecast-headers {
    margin: 10%;
    margin-bottom: 5%;
  }
  .main-headers h2 {
    font-size: 1.5vw;
  }
  .main-headers h1 {
    font-size: 3.5vw;
  }
  .btn-container button {
    font-size: 1vw;
    width: 15vw;
  }
}

@media screen and (max-width: 1200px) {
  .img-group img {
    margin-left: 20%;
  }
  #surfer3 {
    margin-left: 30%;
    margin-bottom: 10%;
  }
  .main-headers h2 {
    font-size: 1.5vw;
  }
  .main-headers h1 {
    font-size: 3.5vw;
  }
  .main-headers {
    margin-top: 65vh;
  }
  .btn-container {
    padding-bottom: 5%;
  }
  .location-container button {
    font-size: 1.5vw;
    width: 15vw;
  }
  .guide {
    height: 70vh;
  }
  .overlay-guide {
    padding: 5rem;
  }
  .btn-container {
    margin-right: 5%;
    justify-content: center;
    align-items: center;
  }
  .btn-container button {
    font-size: 1.5vw;
    width: 15vw;
    flex: 0;
  }
}

@media screen and (max-width: 1000px) {
  .section1 {
    padding-right: 3%;
  }
  .location-container button {
    margin-right: 0.5rem;
    font-size: 2.1vw;
    width: 21vw;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(49, 155, 241, 0.4);
    border-style: solid;
  }
  .location-container {
    padding: 5%;
  }
  .table-group-1,
  .table-group-2,
  .table-group-3 {
    padding-right: 15%;
  }
  .hero h2 {
    font-size: 1.3rem;
  }
  .hero h1 {
    font-size: 2.7rem;
  }
  .guide {
    height: 90vh;
  }
  .overlay-guide {
    padding: 1rem;
  }
  .btn-container {
    margin-top: 5%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
  }
  .btn-container button {
    font-size: 2vw;
    width: 22vw;
  }
  .img-group img {
    margin-left: 10%;
  }
  #surfer3 {
    margin-left: 30%;
  }
}

@media screen and (max-width: 800px) {
  .location-container button {
    margin-right: 0.5rem;
    font-size: 2.1vw;
    width: 21vw;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(49, 155, 241, 0.4);
    border-style: solid;
  }
  .wave-table {
    font-size: 0.8rem;
  }
  .guide {
    height: 80vh !important;
    margin-bottom: 3rem !important;
  }
  .overlay-guide {
    padding-top: 11rem;
  }
  .guide h2 {
    margin-bottom: 0.5rem !important;
  }
  .hero h1 {
    font-size: 2rem;
    text-transform: lowercase;
  }
  .hero h2 {
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 540;
  }
  .main-headers {
    margin-top: 7rem;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
  }
  .hero button {
    align-items: center;
    justify-self: center;
  }
}
.location-container h1 {
  margin-left: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, aliceblue 60%, var(--main-color) 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GREY A0A9AD */
/* BLUE #0F94FF */
